.calculator{
    background-color:blue ;
    width: 400px;
    border-radius: 10px;
    border: solid;

}
.display{
    width: 350px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 25px;
    border: solid;
    background-color: orange;
}
.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
 
}
button{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    font-size: 25px;
    background-color: orange;
    border: solid;
}
button:hover{
    background-color: lightblue;
}